

<h2>
    My Residents
    <button (click)="openSheet()">+</button>
</h2>

<div class="no-results" *ngIf="residents.length === 0">
    <h2>No Residents Created!</h2>
</div>

<div class="residents">
    <div class="resident-flex-wrapper" *ngFor="let resident of residents">
        <div class="resident">
            <a routerLink="/detail/{{ resident.id }}">
                <span class="badge">
                    {{ resident.id }}
                </span> 
                <span>{{ resident.name }}</span>
            </a>
            <button class="delete" title="Delete Reside"
                (click)="delete(resident)">
                X
            </button>
        </div>
    </div>
</div>