<h2>Settings</h2>

<div>
    <p>Fire a test message to confirm the bottom drawer works.</p>
    <button (click)="testMessage()">Send Test</button>
</div>

<div>
    <p>Clear all messages from the bottom drawer=.</p>
    <button (click)="clearMessages()">Clear</button>
</div>

<div>
    <p>Bear Animal by Rfourtytwo from the Noun Project</p>
    <p>Cow by Rfourtytwo from the Noun Project</p>
    <p>Koala by Rfourtytwo from the Noun Project</p>
    <p>Wolf Animal by Rfourtytwo from the Noun Project</p>
    <p>Penguin Animal by Rfourtytwo from the Noun Project</p>
</div>